<template>
  <section id="providers" class="physician-finder Component" v-bind:class="{ darkMode: darkMode == true }">
    
    <div v-if="backdrop" class="backdrop fullwidth">
      <div v-bind:style="{ backgroundColor : color }"></div>
    </div>
    <div class="row">
            <div class="col-xs-12 center" v-if="!isMobile()">
                <h2 v-if="pfTitle" v-text="pfTitle"></h2>
                <p v-if="pfContent" v-text="pfContent"></p>
            </div>
            <div class="col-xs-12 center" v-else>
              <big>
                <h2 v-if="pfMobileTitle" v-text="pfMobileTitle"></h2>
                <p v-if="pfMobileContent" v-text="pfMobileContent"></p>
                <a id="pf-finder" class="btn red" v-on:click="isActiveFinder=true">Search Providers</a>

              </big>
            </div>
            </div>
    <div class="pf-container scrollable" v-bind:class="{ active: isActiveFinder }">
      <div id="pf-list" class="pf-searchlist">
        <div class="pf-searchBoxContainer">
          <div class="pf-searchBox">
            <i class="ph-icon-doctor">
              <!--icon-->
            </i>
            <input
              id="pf-search"
              class="fuzzy-searc"
              placeholder="Search providers"
              autocomplete="off"
              v-model="search"
            />
            <div id="pf-searchClear" class="clear" v-on:click="resetPhysicians">
              <span>X</span>
            </div>
            <div id="pf-close" class="hidden-md-up" v-on:click="isActiveFinder=false">
              <span>CLOSE</span>
            </div>
          </div>
        </div>
        <ul class="list">
          <li
            v-for="physician in filteredPhysicians"
            :key="physician.id"
            v-bind:modified="physician.metadata.last_modified"
            v-on:click="getPhysician(physician.id,physician.metadata.last_modified)"
            v-bind:class="{ active: isActivePhysician == physician.id }"
          >
  <template v-if="physician.name.first_name">{{ physician.name.first_name + " " }}</template>
          <template
            v-if="physician.name.middle_name !== null"
          >{{ physician.name.middle_name.substring(0,1)+". " }}</template>
          <template v-if="physician.name.last_name">{{ physician.name.last_name }}</template><template v-if="physician.name.suffix">{{ " "+physician.name.suffix }}</template><template v-if="physician.degrees[0]">{{ ", "+physician.degrees[0].name }}</template>
                 </li>
        </ul>
        <div class="content-loader" v-if="loading">
          <i class="fas fa-spinner"></i>Loading.....
        </div>
      </div>
      <div class="pf-phyContainer" v-bind:class="{ active: isActiveViewer }">
        <div class="pf-MobileNav hidden-md-up">
          <div id="pf-BackToSearchBtn" class="pf-BackToSearch" v-on:click="isActiveViewer=false;isActivePhysician=false" >
            <span>&lt; SEARCH</span>
          </div>
        </div>
        <div class="phyData">
          <physician-details v-if="isActivePhysician != false" v-bind:physicianData="physicianData"></physician-details>
            <div class="preview" v-show="isActivePhysician == false">
              <i class="ph-icon-doctor"></i><p v-text="previewText"></p>
            </div>
          <div class="content-loader" v-if="loading">
            <i class="fas fa-spinner"></i>
            Loading.....
          </div>
        </div>
        <div class="contentFade white">
          <!--filler-->
        </div>
        <div class="pf-MobileNav bottom hidden-md-up">
          <div class="pf-Prev" v-on:click="params=navigatePhysicians(-1);getPhysician(params[0],params[1])">
            <span>&lt; Previous</span>
          </div>
          <div
            class="pf-Next"
            v-on:click="params=navigatePhysicians(1);getPhysician(params[0],params[1])"
          >
            <span>Next &gt;</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style>
.pf-phyContainer .phyData .phyImageVideo {
  min-width: unset;
}

.pf-phyContainer .phyData .phyImageVideo > .phyImage {
  width: auto;
}
@media (min-width: 768px) {
  .pf-container {  max-width: 75em; }
}
</style>

<script>
import axios from "axios";
import PhysicianDetails from "./physician-details";

export default {
  name: "PhysicianFinder",
  components: {
    PhysicianDetails
  },
  data: function() {
    return {
      physicianData: [],
      physicians: [],
      physicianLoading: false,
      isActiveFinder: false,
      isActivePhysician: false,
      isActiveViewer: false,
      search: "",
      loading: false
    };
  },
  props: ["dataLocations", "dataFilter", "dataFields", "backdrop","color","darkMode","pfTitle","pfContent","pfMobileTitle","pfMobileContent","pfMobileButtonText","token","previewText"],
  mounted() {
    // Get the physician list
//    if(physicians==null) {
    axios({
      method: "get",
      url:
        "https://api.kyruus.com/pm/v8/prisma/providers?filter:network_affiliations.name:Midlands Employed",
      params: {
        sort: "name",
        fields: this.dataFields,
        filter: "locations.name:" + this.dataLocations,
        per_page: 100,
        access_token: this.token
      }
    }).then(
      response => {
        this.loading = false;
        this.physicians = response.data.providers;
      },
      error => {
        this.loading = false;
      }
    
    );
//} else {
  //      this.loading = false;
   //     this.physicians = physicians;
  //  }
  },
  methods: {
    getPhysician: function(id,modified) {
      this.physicianLoading = true;
      var hasCache = false;
      if(lsGet(this.$options._componentTag+"-"+id,false)!=null){ // has LS cache value
        const data = lsGet(this.$options._componentTag+"-"+id,false);
        if(data.metadata.last_modified.split('.')[0]+"Z" == modified ) { // fixes format to compare - has cache with matching modified date.
          hasCache = true;
          updatePhysician(this,data,hasCache,modified);
        }
      }
      if(!hasCache){
        axios({
          method: "get",
          url: "https://api.kyruus.com/pm/v8/prisma/providers/" + id,
          params: {
            fields:
              "-ALL,+name,+degrees.name,+preferred_name,+professional_statement,+specialties.specialty,+training.type,+training.name,+image_url,+video_url,+metadata.last_modified,+board_certifications,+gender",
            filter: "network_affiliations.name:Midlands Employed",
            per_page: 1,
            access_token: this.token
          }
        }).then(
          response => {
            updatePhysician(this,response.data,hasCache,modified);
          },
          error => {
            this.physicianLoading = false;
          }
        );
      }
      function updatePhysician(vue,response,hasCache,modified) {
        vue.physicianLoading = false;
            vue.isActivePhysician = id; //active list item
            var cache = vue.physicianData = response; //detailed physician data

            if (vue.physicianData.professional_statement != null) { //has bio and fix spacing
              vue.physicianBio = vue.physicianData.professional_statement.replace(
                /(?:\r\n|\r|\n)/g,
                "<br />"
              );
            cache["bio"] = vue.physicianBio; //set bio cache
            }
            if(!hasCache) { // Sets LS cache for physician data
            cache.metadata.last_modified == modified // Sets last modified in cache to current widget value. FIXES error webpart more current versus caches. Prevents multiple hits to api.
              lsSet(vue.$options._componentTag+"-"+id,cache);
            }
            vue.isActiveViewer = true;
            //mgPopup($(".pf-phyContainer .phy_video"));
      }
    },
    resetPhysicians: function() {
      return (this.search = "");
    },
    navigatePhysicians(move) {
      const index = indexWhere(this.filteredPhysicians, item => item.id === this.isActivePhysician) + move;// Next position
      const id = getPhysicianId(this.filteredPhysicians, index); // returns physician id, accounts for first and last, next and prev.
      const modified = this.filteredPhysicians.find(item => item.id === id).metadata.last_modified;// returns physician index
      return [id,modified];
    },
    isMobile() {
      if($(window).width() < 768) {
        return true;
      } else {
        return false
      }
    }
  },
  computed: {
    filteredPhysicians: function() {
      return this.physicians.filter(physician => {
        return (
          physician.name.full_name
            .toLowerCase()
            .indexOf(this.search.toLowerCase()) > -1
        );
      });
    }
  }
};

//Disable Physician Finder Mobile
function pfDisable($) {
  $("#pf-close").on("click", function() {
    $(".pf-container").removeClass("active");
    $("body").removeClass("noScroll");
    setScroll();
  });
}
  function getPhysicianId(array,index) {
      const length = array.length;
      if (index === -1) { //Prev on first item
          return array[length-1].id;
      } else {
        if (index >= length) { // Next on last item
        return array[0].id;
        }
      }
      // Get prev or next id
      const physician = array[index];
      return array[array.indexOf(physician)].id;
    }

function indexWhere(array, conditionFn) {
  const item = array.find(conditionFn);
  return array.indexOf(item);
}


// Set cache and compress it
function lsSet(key, data, compress) {
  try {
    data = JSON.stringify(data);
    if (compress) data = LZString.compressToUTF16(data);
    localStorage.setItem(key, data);
  } catch (e) {
    //console.log(e);
    if (e.code == 22) {
      localStorage.clear();
      lsSet(key, data, compress);
      //console.log('Local storage is full so it has been cleared.');
      //console.log("%cLocal storage is full...Clearing now", "color: red");
    }
  }
}

// Get cache and decompress
function lsGet(key, decompress) {
  try {
    var item = localStorage.getItem(key);
    if (decompress) {
      item = LZString.decompressFromUTF16(item);
    }
    item = JSON.parse(item);
    return item;
  } catch (e) {
    try {
      //console.log("%c Error Caught: Set decompress to true for lsGet("+key+")", "color: orange");
      lsGet(key, true);
    } catch (e) {
      //console.log(e);
    }
  }
}

</script>