<template>
  <section id="providers" class="physician-listing component" :class="{ active: isActive == true }">
    <template v-if="!this.hidePhy && physicians.length > 0">
      <h2 v-if="this.phyGroupName!=''" class="headerStrike headerStrikeDoctors">
        <span>{{ this.phyGroupName }}</span>
      </h2>
      <provider-listing-box
        v-if="physicians"
        :providers="physicians"
        :appointment="showAppointment"
      ></provider-listing-box>
    </template>
    <template v-if="!this.hideApp && apps.length > 0">
      <h2 v-if="this.appGroupName!=''" class="headerStrike headerStrikeDoctors">
        <span>{{ this.appGroupName }}</span>
      </h2>
      <provider-listing-box :providers="apps" :appointment="showAppointment"></provider-listing-box>
    </template>
  </section>
</template>
    
<script>
import axios from "axios";
import providerListingBox from "./provider-listing-box";
import LZString from "lz-string";

// Global js
var Promise = require("es6-promise").Promise;


// Set cache and compress it
function lsSet(key, data, compress) {
  try {
    data = JSON.stringify(data);
    if (compress) data = LZString.compressToUTF16(data);
    localStorage.setItem(key, data);
  } catch (e) {
    //console.log(e);
    if (e.code == 22) {
      localStorage.clear();
      lsSet(key, data, compress);
      //console.log('Local storage is full so it has been cleared.');
      //console.log("%cLocal storage is full...Clearing now", "color: red");
    }
  }
}

// Get cache and decompress
function lsGet(key, decompress) {
  try {
    var item = localStorage.getItem(key);
    if (decompress) {
      item = LZString.decompressFromUTF16(item);
    }
    item = JSON.parse(item);
    return item;
  } catch (e) {
    try {
      //console.log("%c Error Caught: Set decompress to true for lsGet("+key+")", "color: orange");
      lsSet(key, true);
    } catch (e) {
      //console.log(e);
    }
  }
}

// Get physicians by type
function getPhysicians(physicians, validate, type) {
  return physicians.filter(physician => {
    if (
      physician.provider_type == type[0] ||
      physician.provder_type == type[1]
    ) {
      return physician;
    }
  });
}

export default {
  name: "PhysicianListing",
  data: function() {
    return {
      physicians: [],
      morePhysicians: [],
      apps: [],
      isActive: false,
      showAppointment: false,
    };
  },
  components: {
    providerListingBox
  },
  props: [
    "dataLocations",
    "dataFilter",
    "specialtyFilter",
    "subspecialtyFilter",
    "addPhysicians",
    "removePhysicians",
    "appointment",
    "hidePhy",
    "phyGroupName",
    "hideApp",
    "appGroupName",
    "token"
  ],
  beforeMount() {
    //Set Variables
    var providers; //Holds all provider data
    var addPhysicians = this.addPhysicians;
    var removePhysicians = this.removePhysicians;
    if (this.showAppointment != null) this.showAppointment = this.appointment;
    var moreProviders;
    var type = ["Nurse Practitioner (NP)", "Physician Assistant (PA)"]; // App types for filtering
    var cacheId = JSON.stringify(this.$props); // Cache ID made from all parameters
    //console.log(this.$props);
    // Use cache from local storage
    if (lsGet(cacheId, true) != null) { // Prod
    console.log('has cache');
    //  if (lsGet(cacheId, true) == "testing") { // Dev
      providers = lsGet(cacheId, true);
      // Get physicians
      this.physicians = providers.filter(
        physician =>
          physician.provider_type != type[0] &&
          physician.provider_type != type[1]
      );
      // Get providers
      this.apps = providers.filter(
        physician =>
          physician.provider_type == type[0] ||
          physician.provider_type == type[1]
      );
      this.isActive = true; // Active!
    } else {
      
    console.log('no cache');
      // No cache, get the physician list from Kyruus
      // Standard params
      var params =
        "sort=" +
        "name" +
        "&per_page=" +
        100 +
        "&fields=" +
        "-ALL,+name,+degrees,+provider_type,+gender,+image_url,+preferred_name,+npi,+video_url,+book_online_url,+reviews.aggregate_ratings.average_rating,+reviews&access_token=" +
        this.token;
      if (this.dataLocations) params = params + "&filter=" + this.dataFilter;

      // Standard params and all filters
      var allParams = params;

      // Location filter
      if (this.dataLocations)
        allParams =
          params + "&filter=" + "locations.name:" + this.dataLocations;

      // Specialty filter
      if (this.specialtyFilter)
        allParams =
          allParams +
          "&filter=specialties.specialty.untouched:" +
          this.specialtyFilter;

      // Subspecialty filter
      if (this.subspecialtyFilter)
        allParams =
          allParams +
          "&filter=specialties.subspecialty.untouched:" +
          this.subspecialtyFilter;

      //Additional providers by kyruus id number.
      if (addPhysicians != "" && addPhysicians != null) {
        var ids = addPhysicians
          .replace(/,/g, "|")
          .replace(" ", "")
          .replace(/;/g, "|");
        axios
          .get(
            "https://api.kyruus.com/pm/v8/prisma/providers?" +
              encodeURI(params) +
              "&filter=id:" +
              encodeURI(ids)
          )
          .then(response2 => {
            moreProviders = response2.data.providers;
                        
            if(this.dataLocations) { // Get physicians with locations
            axios
              .get(
                "https://api.kyruus.com/pm/v8/prisma/providers?" +
                  encodeURI(allParams)
              )
              .then(
                //axios.get('https://preview-api.kyruus.com/pm/v8/prisma/providers?'+params).then(
                response => {
                  providers = response.data.providers;

                  //Remove physicians by id
                  if (removePhysicians != "" && removePhysicians != null) {
                    removePhysicians
                    .replace(/|/g, ",")
                    .replace(" ", "")
                    .replace(/;/g, ",");
                    var removeIds = removePhysicians.split(",");
                    for (var i = removeIds.length - 1; i >= 0; i--) {
                        var index = -1;
                        for (var count = providers.length - 1; count >= 0; count--) {

                          if(providers[count].id == removeIds[i]){
                            index=count;
                          }
                        }
                      if (index != -1) {
                        providers.splice(index, 1);
                      }
                      index = -1;
                    }
                  }
                  //Add additional providers to providers
                  Array.prototype.push.apply(providers, moreProviders);

                  // Remove duplicates 
                  providers = removeDumplicateValue(providers);

                  //Sort by last name
                  providers.sort(function(x, y) {
                    var a = x["name"].last_name.toUpperCase(),
                      b = y["name"].last_name.toUpperCase();
                    if (a > b) {
                      return 1;
                    }
                    if (a < b) {
                      return -1;
                    }
                    return 0;
                  });

                  this.physicians = providers.filter(
                    physician =>
                      physician.provider_type != type[0] &&
                      physician.provider_type != type[1]
                  );

                  // Filter to only apps
                  this.apps = providers.filter(
                    physician =>
                      physician.provider_type == type[0] ||
                      physician.provider_type == type[1]
                  );

                  this.isActive = true; // Active!

                  // Cache providers. Lasts as long as token (15hrs)
                  console.log(providers);
                  lsSet(cacheId, providers, true);
                },
                error => {
                  this.loading = false;
                }
              );
            } else { // Get physicians WITHOUT locations
                  providers = [];

                  //Add additional providers to providers
                  Array.prototype.push.apply(providers, moreProviders);

                // Remove Duplicates
                providers = removeDumplicateValue(providers);

                  //Sort by last name
                  providers.sort(function(x, y) {
                    var a = x["name"].last_name.toUpperCase(),
                      b = y["name"].last_name.toUpperCase();
                    if (a > b) {
                      return 1;
                    }
                    if (a < b) {
                      return -1;
                    }
                    return 0;
                  });

                  // Filter to only physicians
                  this.physicians = providers.filter(
                    physician =>
                      physician.provider_type != type[0] &&
                      physician.provider_type != type[1]
                  );

                  // Filter to only apps
                  this.apps = providers.filter(
                    physician =>
                      physician.provider_type == type[0] ||
                      physician.provider_type == type[1]
                  );

                  this.isActive = true; // Active!

                  // Cache providers. Lasts as long as token (15hrs)
                  console.log(providers)
                  lsSet(cacheId, providers, true);
                  }
          });
      } else {
        axios
          .get(
            "https://api.kyruus.com/pm/v8/prisma/providers?" +
              encodeURI(allParams)
          )
          .then(
            //axios.get('https://preview-api.kyruus.com/pm/v8/prisma/providers?'+params).then(
            response => {
              providers = response.data.providers;
              //Add additional providers to providers
              Array.prototype.push.apply(providers, moreProviders);

             
                  //Remove physicians by id
                  if (removePhysicians != "" && removePhysicians != null) {
                    removePhysicians
                    .replace(/|/g, ",")
                    .replace(" ", "")
                    .replace(/;/g, ",");
                    var removeIds = removePhysicians.split(",");
                    for (var i = removeIds.length - 1; i >= 0; i--) {
                        var index = -1;
                        for (var count = providers.length - 1; count >= 0; count--) {

                          if(providers[count].id == removeIds[i]){
                            index=count;
                          }
                        }
                      
                      if (index != -1) {
                        providers.splice(index, 1);
                      }
                      index = -1;
                    }
                  }

              providers = removeDumplicateValue(providers);

              //Sort by last name
              providers.sort(function(x, y) {
                var a = x["name"].last_name.toUpperCase(),
                  b = y["name"].last_name.toUpperCase();
                if (a > b) {
                  return 1;
                }
                if (a < b) {
                  return -1;
                }
                return 0;
              });

              //console.log(response); // Filter to only physicians
              this.physicians = providers.filter(
                physician =>
                  physician.provider_type != type[0] &&
                  physician.provider_type != type[1]
              );
              // Filter to only apps
              this.apps = providers.filter(
                physician =>
                  physician.provider_type == type[0] ||
                  physician.provider_type == type[1]
              );
              this.isActive = true; // Active!
              // Cache providers. Lasts as long as token (15hrs)
              console.log(providers);
              lsSet(cacheId, providers, true);
            },
            error => {
              this.loading = false;
            }
          );
      }
    }
  },
  mounted() {
    //MAGNIFIC POPUP
    (function($) {
      $(document).ready(function() {
        if ($(".phy_video").length) {
          mgPopup($(".phy_video"));
        }
      });
    })(jQuery);
  }
};
function sortByLastName($a, $b) {
  return $a["name"]["last_name"] < $b["name"]["last_name"] ? -1 : 1;
}
  function removeDumplicateValue(myArray){ 
      var newArray = [];
    
      jQuery.each(myArray, function(key, value) {
        var exists = false;
        jQuery.each(newArray, function(k, val2) {
          if(value.id == val2.id){ exists = true }; 
        });
        if(exists == false && value.id != "") { newArray.push(value); }
      });
   
      return newArray;
    }
</script>
<style scoped>
.physician-listing.component {
  opacity: 0;
  overflow: hidden;
}
.physician-listing.component.active {
  opacity: 1;
}
</style>