<template>
  <div class="physicianData">
    <div class="phyImageDetailsContainer">
      <div class="phyImageVideo">
        <div class="phyImage">
          <img
            :data-src="getImage(physician)"
            :src="getImage(physician)"
          />
          <a
            rel="video"
            class="physician-detail-video phy_video phy_video_content_area"
            style="width: 100%;"
            v-if="physician.video_url"
            v-bind:href="[ physician.video_url ]"
          >Video Profile</a>
        </div>
      </div>
      <div class="phyDetails">
        <div class="phyDetailName">
           <template>{{ physician.name.first_name + " " }}</template>
          <template
            v-if="physician.name.middle_name !== null"
          >{{ physician.name.middle_name }}</template>
          <template v-if="physician.name.last_name">{{ physician.name.last_name }}</template><template v-if="physician.preferred_name">{{ " ("+physician.preferred_name+")" }}</template><template v-if="physician.name.suffix">{{ " "+physician.name.suffix }}</template><template v-if="physician.degrees[0].name">{{ ", "+physician.degrees[0].name }}</template>
       </div>
        <ul>
          <li v-if="physician.specialties[0].specialty">
            <span class="title">Specialty</span>
            {{ physician.specialties[0].specialty }}
          </li>
            <li v-if="physician.board_certifications[0]!=null">
            <span class="title">Certifications</span>
            {{ physician.board_certifications[0].board_name }}
          </li>
            <li v-if="physicianSchool!=null">
            <span class="title">Education</span>
            {{ physicianSchool.name }}
          </li>
            <li v-if="physicianResidency!=null">
            <span class="title">Residency</span>
            {{ physicianResidency.name }}
          </li>
            <li v-if="physicianFellowship!=null">
            <span class="title">Fellowship</span>
            {{ physicianFellowship.name }}
          </li>
        </ul>
      </div>
    </div>
    <div class="phyDetailContent">
      <p v-if="physician.professional_statement" v-html="physicianBio"></p>
      <a
        class="btn red"
        v-bind:href="getProfile(physician)"
        target="_blank"
      >More Details</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "PhysicanDetails",
  props: ["physicianData"],
  computed: {
    physician() {
      if (this.physicianData != null) return this.physicianData;
    },
    physicianBio() {
      if (this.physicianData.professional_statement != null)
        return this.physicianData.professional_statement.replace(
          /(?:\r\n|\r|\n)/g,
          "<br />"
        );
    },
    physicianSchool: function() {
      if(this.physicianData.training!=null){
        const data = this.physicianData.training.filter(function(item) {
          return item.type == "Medical School/Dental School";
        })[0];
        if(data!=""){
          return data;
        } else {
          return null
        }
      }
    },
    physicianResidency: function() {      
      if(this.physicianData.training!=null){

        const data = this.physicianData.training.filter(function(item) {
          return item.type == "Residency";
        })[0];
        if(data!=""){
          return data;
        } else {
          return null
        }
      }
    },
    physicianFellowship: function() {
      if(this.physicianData.training!=null){
        const data = this.physicianData.training.filter(function(item) {
          return item.type == "Fellowship";
        })[0];
        if(data!=""){
          return data;
        } else {
          return null
        }
      }
    }
  },
  methods: {
    getProfile(physician) {
      return (
        "https://doctors.prismahealth.org/provider/" + //prod
       //"https://pmc-prisma-palmettohealth.provider-match.com/provider/" +//dev
        physician.name.full_name +
        "/" +
        physician.id
      );
    },
    getImage(physician) {
      var image = "";
      if (physician.image_url != null) {
          image = physician.image_url.replace("/200","/500");
      } else {
          if(physician.gender=="Male") {
            image = "https://cdn.kyruus.com/pm-dev/assets/provider-avatar-male-rectangle.png";
          } else {
            image = "https://cdn.kyruus.com/pm-dev/assets/provider-avatar-female-rectangle.png";
        }
      }
      return image;
    }
  },
  mounted() {
    //console.log('created');
    mgPopup($(".pf-phyContainer .phy_video"));

  },
  updated() {
    //console.log('updated');
    mgPopup($(".pf-phyContainer .phy_video"));
    // Magnific Popup
    
}
};
</script>

<style>
.pf-phyContainer .phyData .phyImageVideo {
  max-width: 250px;
}
.pf-phyContainer .phyData .phyImageVideo > .phyImage {
  width:100%;
}
</style>
