<template>
  <div class="doctor-container">
    <div v-for="physician in providers" :key="physician.npi" class="doctor-box-container col-xs-6 col-sm-4 col-lg-3">
      <div class="doctor-box">
        <div
          class="doctor-box-image"
          v-bind:style="{ background: 'url('+getImage(physician)+') 50% 50% no-repeat',backgroundSize: 'cover' }"
        >
          <div class="doctor-box-hover">
            <div class="doctor-box-hover-content">
              <a
                v-if="physician.video_url"
                v-bind:href="physician.video_url"
                rel="video"
                class="doctor-box-hover-video phy_video phy_video-content_area"
              >Video Profile</a>
              <a v-bind:href="getProfile(physician)" class="doctorBoxHoverInfo">More Details</a>
            </div>

          </div>
          <template v-if="physician.book_online_url != null && appointment==true">
            <a class="book-appointment" v-bind:href="physician.book_online_url">Book Appointment</a>
            </template>
          <template v-if="physician.reviews">
					    <div class="star-rating">
                <div class="stars">
                  <span v-bind:style="'width: '+ physician.reviews.aggregate_ratings.average_rating*20 + '%;'"></span>
                </div>
                <small>{{ physician.reviews.aggregate_ratings.rating_count }} Reviews</small>
              </div>
            </template>
        </div>
        <div class="doctor-box-title">
          <template>{{ physician.name.first_name + " " }}</template>
          <template
            v-if="physician.name.middle_name !== null"
          >{{ physician.name.middle_name.substring(0,1)+". " }}</template>
          <template v-if="physician.name.last_name">{{ physician.name.last_name }}</template><template v-if="physician.name.suffix">{{ " "+physician.name.suffix }}</template><template v-if="physician.degrees[0]">{{ ", "+physician.degrees[0].name }}</template>
        </div>
      </div>
    </div>
  </div>
</template>
    
<script>
export default {
  name: "PhysicianListingBox",
  props: ["providers","appointment"],
  methods: {
    getProfile(physician) {
      return (
        "https://doctors.prismahealth.org/provider/" + //prod
        //"https://pmc-prisma-palmettohealth.provider-match.com/provider/" +//dev
        physician.name.full_name +
        "/" +
        physician.id
      );
    },
    getImage(physician) {
      var image = "";
      if (physician.image_url != null) {
        image = physician.image_url.replace("/200","/500");
      } else {
        if (physician.gender == "Male") {
          image =
            "https://cdn.kyruus.com/pm-dev/assets/provider-avatar-male-rectangle.png";
        } else {
          image =
            "https://cdn.kyruus.com/pm-dev/assets/provider-avatar-female-rectangle.png";
        }
      }
      return image;
    }
  }
};
</script>
<style>/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


.headerStrike span:before,
.headerStrike span:after {
  content: "";
  border-top: 1px solid #cfcfcf;
  top: 50%;
  position: absolute;
}
.doctor-container {
  margin: 0 -7.5px 20px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.doctor-box-container {    
  max-width: 200px;
  padding: 0 7.5px 15px 7.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}
.doctor-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.doctor-box-image:hover .doctor-box-hover {
  display: block;
}
.doctor-box-image {
  display: block;
  position: relative;
  background-size: cover;
  background-position: center;
}
.doctor-box-image:after {
  content: "";
  display: block;
  padding: 0 0 120%;
}
.doctor-box-title {
  width: 100%;
  background: #2ab0e3;
  color: #fff;
  line-height: 1.2;
  font-weight: bold;
  padding: 0.8em.5em;
  font-size: 11.424px;
  font-size: 1.4rem;
  text-align: center;
  -webkit-box-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
}
.doctor-box-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.doctor-box-hover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 0 11px;
}
.doctor-box-hover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 0 11px;
}
.doctor-box-hover-content a,
.doctor-box-hover-content a:visited {
  color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: block;
  padding: 0.5em 0;
}
.doctor-box-hover-content a:before,
.doctor-box-hover-content a:visited:before {
  content: "";
  font-family: ph-icons;
  display: block;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
}
.doctor-box-hover-content a:last-child,
.doctor-box-hover-content a:visited:last-child {
  border: none;
}
a.doctor-box-hover-video:before,
a:visited.doctor-box-hover-video:before {
  content: "U";
}
a.doctor-box-hover-info:before,
a:visited.doctor-box-hover-info:before {
  content: "M";
}
.doctor-box-hover-content a:hover, .doctor-box-hover-content a:visited:hover {
    text-decoration: none;
    background: rgba(255,255,255,.4);
}

a.book-appointment {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding:5px;
    background:#333;
    color:#fff;
    text-align:center;
    font-weight:bold;
    font-size:12px;
}

.doctor-box-image:hover a.book-appointment {
    background: #000;
}

.doctor-box-image:hover a.book-appointment:hover {
    background: #333;
    text-decoration: none;
}
.star-rating {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    overflow: hidden;
    white-space: nowrap;
}
.stars {
    display: inline-block;
    position:relative;
}
.stars:before {
    display: block;
    font-size: 16px;
    top: 0;
    left: 0;
    content: "☆☆☆☆☆";
    color: #fff;
    text-shadow: 0 2px darken(#818181,20%);
    padding-left: 5px;
    display: inline-block;
    opacity:.3;
}
.stars>span {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
.stars>span:before {
    word-break: keep-all;
    font-size: 16px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    content: "★★★★★";
    display: block;
    padding-left: 5px;
}
.star-rating small {
    color: #fff;
}
</style>