<template>
<section>
    <div class="tabbed-viewer component" v-bind:class="[ {active: init }, options]">
    <div class="content-container">
        <ul class="tabs" ref="tabs">
                <li
                    v-for="(tab,index) in tabs"
                    v-bind:key="tab.NodeID"
                    v-bind:index="index"
                    v-bind:class="{ active: isActiveTab == tab.NodeID}"
                    >
                    <div v-on:click="getTab(index,tab.NodeID)" class="tab-title expand right m">{{ tab.tab }}<span class="toggleSymbol" v-if="!desktop"><!--icon--></span></div>
                    <transition-expand v-if="!desktop">
                      <div class="wrap" v-if="isActiveTab == tab.NodeID">
                      <div ref="content" class="tab-content" v-html="content">
                      </div>
                      </div>
                    </transition-expand>
                </li>
            </ul>
            <div class="content-viewer" v-if="desktop">
                <h2>{{ title }}</h2>
                <span v-html="content"></span>
                 <div class="content-loader" v-if="bodyLoading">
                    <i class="fas fa-spinner"></i>Loading.....
                </div>
            </div>
        </div>
    </div>
    </section>
</template>

<script>
import 'es6-promise/auto';
import axios from "axios";
import LZString from "lz-string";
import TransitionExpand from "./transition-expand";

// Global js
function lsSet(key, data, compress) {
  try {
    data = JSON.stringify(data);
    if(compress) data = LZString.compressToUTF16(data);
    localStorage.setItem(key,data);
  } catch (e) {
    //console.log(e);
    if (e.code == 22) {
      localStorage.clear();
      lsSet(key, data, compress);
      //console.log('Local storage is full so it has been cleared.');
      //console.log("%cLocal storage is full...Clearing now", "color: red");
      // Storage full, maybe notify user or do some clean-up
    }
  }
}
function lsGet(key, decompress) {
  try {
    var item = localStorage.getItem(key);
    if(decompress){item = LZString.decompressFromUTF16(item);}
    item = JSON.parse(item);
    return item;
  } catch (e) {
    try {
      //console.log("%c Error Caught: Set decompress to true for lsGet("+key+")", "color: orange");
      lsGet(key, true);
    } catch (e) {
      //console.log(e);
    }
  }
}
//Mobile Breaksize
var breakSize = 640; //Must match SASS breakSize

export default {
  name: "TabbedViewer",
  components: {
    TransitionExpand
  },
  props: ["rest", "path", "uid", "options"],
    data: function(){
        return {
      tabs: [],
      bodyLoading: false,
      init: false,
      isActiveTab: "",
      title: "",
      content: "",
      url: "",
      config: {},
      errorMsg: "",
      lsTabsKey: "",
      desktop: false,
      scrollable: false
    };
  },
  mounted() {
    if (screen.width >= breakSize) {
      this.desktop = true;
    }

    // Setup local storage keys
    this.lsTabsKey = "tabbed-viewer-" + this.uid;
    var lsModifiedKey = this.lsTabsKey + "-modified";

    // Authentication for rest api. Public user content only.
    this.errorMsg =
      "We are having trouble loading app content, please try again later.";
    this.url = this.rest + this.path;
    this.config = {
      auth: {
        username: "rest-api",
        password: "CodeMuncher10!"
      }
    };

    // Get the most recent last modified date and compare against Local storage. If different, get new data.
    axios
      .get(
        this.url +
          "?format=json&classnames=custom.Tab&columns=DocumentModifiedWhen&orderby=DocumentModifiedWhen%20desc&topn=1",
        this.config
      )
      .then(response => {
          if (
          lsGet(lsModifiedKey,false) != response.data.cms_documents[0].custom_tab[0].DocumentModifiedWhen
        ) {
          //console.log("%cUpdated content available.", "color: green");
          //console.log("%cClearing local storage...", "color: red");
          localStorage.removeItem(this.lsTabsKey);
          lsSet(lsModifiedKey,response.data.cms_documents[0].custom_tab[0].DocumentModifiedWhen,false)
          //console.log("%cSET MODIFIED DATE.", "color: green");
        }
      })
      .catch(error => {
        //console.log(error);
      });

    // Check local storage for tabs.
    if (lsGet(this.lsTabsKey,true) != null) {
      //console.log("%cContent is current. Loading using local storage.", "color: green");

      try {
        this.tabs = lsGet(this.lsTabsKey,true);
        init(this);
      }
      catch(error){
        console.error(error);
        fixLS(key, data)
      }
    } else {
      // No local storage? Get all tab names, NodeID.
      axios
        .all([
          axios.get(
            this.url +
              "?format=json&classnames=custom.tab&columns=tab,NodeID&orderby=NodeOrder",
            this.config
          ),
          axios.get(
            this.url +
              "?format=json&classnames=custom.tab&columns=title,content&topn=1&orderby=NodeOrder",
            this.config
          )
        ])
        .then(([tabList, firstTab]) => {
          lsSet(this.lsTabsKey,tabList.data.cms_documents[0].custom_tab,true)
          this.tabs = tabList.data.cms_documents[0].custom_tab;

          this.tabs[0].title =
            firstTab.data.cms_documents[0].custom_tab[0].title;
          this.tabs[0].content =
            firstTab.data.cms_documents[0].custom_tab[0].content;
          this.bodyLoading = false;
          lsSet(this.lsTabsKey,this.tabs,true);
          init(this);
        });
    }

    function init(test) {
      // First tab active on desktop.
      if (test.desktop) test.isActiveTab = test.tabs[0].NodeID;
      test.title = test.tabs[0].title;
      test.content = test.tabs[0].content;
      test.init = true;
    }
  },
  methods: {
    getTab: function(i, id) {
      if (this.isActiveTab == id && !this.desktop) {
        this.isActiveTab = "";
      } else {
        this.isActiveTab = id;
        this.bodyLoading = true;
        //Checks for local tab data
        if (!this.tabs[i].content) {
          axios
            .get(
              this.url +
                "?format=json&classnames=custom.tab&columns=title,content&Where=NodeID=" +
                id,
              this.config
            )
            .then(response => {
              this.tabs[i].content =
                response.data.cms_documents[0].custom_tab[0].content;
              this.tabs[i].title =
                response.data.cms_documents[0].custom_tab[0].title;
              this.content = this.tabs[i].content;
              this.title = this.tabs[i].title;
                lsSet(this.lsTabsKey,this.tabs,true);
            })
            .catch(error => {
              //console.log(error);
              this.content = this.errorMsg;
            });
        } else {
          // Use the locally stored tab data
          this.content = this.tabs[i].content;
          this.title = this.tabs[i].title;
        }
        this.bodyLoading = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
$primary: #8c2232;
$secondary: #5b6874;
$breakSize: 640px; // Must match JS breakpoint

/* TABBED VIEWER COMPONENT */
.content-loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2em;
  background: rgba(255, 255, 255, 0.25);
}
.tabbed-viewer {
  padding: 1em 0;
  opacity: 0;
  transition: opacity 1000ms;
  min-height: 300px;
  margin: auto;
  flex: auto;
  &.active {
    opacity: 1;
  }
  .content-container {
    display: flex;
    justify-content: center;
  }
  ul.tabs {
    padding: 0;
    padding-left: 0;
    margin: 0;
    width: 300px;
    > li {
      list-style-type: none;
      margin-bottom: 0.5em;
      list-style-type: none;
      .tab-title {
        cursor: pointer;
        display: block;
        padding: 1.3em 1em;
        background: #e4e5e6;
        color: $secondary;
        transition: background 200ms ease, border-left-color 200ms ease;
        &.expand::after {
          color: $secondary;
          border: 1px solid $secondary;
        }
      }
      &.active {
        .tab-title {
          background-color: $primary;
          &.expand:after {
            color: #ffffff;
            border: 1px solid #ffffff;
          }
        }
      }
    }
  }
  // Options

  // Options - Condensed Viewer
  &.condense {
    ul.tabs > li {
      margin-bottom: 5px;
      .tab-title {
        padding: 0.8em 1em;
        span.toggleSymbol {
          height: 24px;
          width: 24px;
          margin-top: -12px;
          right: 12px;
          &:before {
            height: 12px;
            margin-top: -6px;
          }
          &:after {
            width: 12px;
            margin-left: -6px;
          }
        }
      }
    }
    .content-viewer {
      padding: 1em 1.5em;
    }
  }
  // Options - Scrollable Viewer
  &.scroller {
    .content-container {
      position: relative;
    }
    ul.tabs {
      overflow: scroll;
      height: auto;
      box-shadow: inset 0 1px 25px -5px #dcdcdc;
      > li {
        margin: 0;
        &:last-child {
          margin-bottom: 0 !important;
        }
        .tab-title {
          padding: 0.8em;
          background: none;
          border: 0;
          box-shadow: inset 0 1px 25px -5px #dcdcdc;
        }
        &:active {
          .tab-title {
            background: #8c2232;
            color: #fff;
          }
        }
      }
    }
  }

  @media (min-width: $breakSize) {
    ul.tabs {
      > li {
        .tab-title {
          background: linear-gradient(to right, #e4e5e6 89%, #d0d1d2 100%);
          border-left: 5px solid #ccc;
          border-collapse: collapse;
          &:hover {
            border-left-color: $primary;
          }
        }
        &.active {
          box-shadow: 1px 2px 3px -1px #ddd;
          border-top: 1px solid #f5f5f5;
          .tab-title {
            background: #ffffff;
            border-left-color: $primary;
          }
        }
      }
    }
    .content-viewer {
      background: #fff;
      width: 66%;
      padding: 1.5em 2em;
      max-width: 700px;
      max-height: 500px;
      border-top: 1px solid #f5f5f5;
      box-shadow: 2px 1px 3px 0px #ddd;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
      }
      > .view {
        display: none;
        &.active {
          display: block;
        }
      }
    }
    &.dark-mode {
      .backdrop {
        display: none;
      }
      .content-viewer {
        background: #f5f4f4;
      }
      ul.tabs {
        >li.active {
          .tab-title {
            background: #f5f4f4;
          }
        }
        > li:last-child {
          margin-bottom: 20px;
        }
      }
    }
  }
  @media (max-width: $breakSize) {
    ul.tabs {
      width: 100%;
      display: inline-block;
      > li {
        box-shadow: 0px 2px 4px -1px #ddd;
        .tab-title {
          padding: 1.3em 4em 1.3em 1em;
          .toggleSymbol {
            color: $secondary;
          }
        }
        &.active {
          .tab-title {
            background: $primary;
            color: #ffffff;
            .toggleSymbol {
              color: #fff;
            }
          }
        }
        .wrap {
          .tab-content {
            display: inline-block;
            padding: 15px 15px 0;
            overflow: hidden;
          }
        }
        .mobile-viewer {
          display: block;
          padding: 1.3em 1em;
          border-left: 5px solid #ffffff;
          background: #ffffff;
        }
      }
      .content-container {
        margin-bottom: 2em;
      }
    }
  }
}
</style>