<template>
  <transition
    name="expand"
    @enter="enter"
    @after-enter="afterEnter"
    @before-leave="beforeLeave"
    @leave="leave"
  >
    <slot/>
  </transition>
</template>

<script>
var eLeaveNode = 0;
var eLeaveHeight = 0;
var headerHeight = document.querySelector("header").offsetHeight;
export default {
  name: "TransitionExpand",
  methods: {
    enter(element) {
      const width = getComputedStyle(element).width;
      element.style.width = width;
      element.style.position = "absolute";
      element.style.visibility = "hidden";
      element.style.height = "auto";

      const buffer = 20 + headerHeight;
      let ePos, bottom, top;
      if (
        $(element)
          .parent()
          .index() > eLeaveNode
      ) {
        console.log("leaveheight:" + eLeaveHeight);
        top = $(window).scrollTop() + headerHeight;
        bottom = top - headerHeight + $(window).height() / 1.5;
        ePos =
          $(element)
            .parent()
            .offset().top - eLeaveHeight;
      } else {
        //console.log('Previous click came after');
        top = $(window).scrollTop();
        bottom = top + $(window).height() / 1.5;
        ePos = $(element)
          .parent()
          .offset().top;
      }
      const height = getComputedStyle(element).height;

      //If tab is not in the top half of the viewport, scroll to it.
      //console.log("top:" + top + "--Bottom:" + bottom + "---Position:" + ePos);
      if (ePos < top || ePos > bottom) {
        $("html, body").animate(
          {
            scrollTop: ePos - buffer
          },
          400
        );
      }

      element.style.width = null;
      element.style.position = null;
      element.style.visibility = null;
      element.style.height = 0;

      // Trigger the animation.
      // We use `setTimeout` because we need
      // to make sure the browser has finished
      // painting after setting the `height`
      // to `0` in the line above.
      setTimeout(() => {
        element.style.height = height;
      });
    },
    afterEnter(element) {
      //element.style.height = 'auto';
    },
    beforeLeave(element) {},
    leave(element) {
      const height = getComputedStyle(element).height;

      eLeaveHeight = height.replace("px", "");
      eLeaveNode = $(element)
        .parent()
        .index();

      element.style.height = height;
      //If opening a new accordion, while one is currently open
      if (
        $(element)
          .parent()
          .siblings()
          .hasClass("active")
      ) {
        eLeaveHeight = height.replace("px", "");
        eLeaveNode = $(element)
          .parent()
          .index();
      } else {
        // If no other accordion open, then
        eLeaveHeight = 0;
        eLeaveNode = 0;
      }
      setTimeout(() => {
        element.style.height = 0;
      });
    }
  }
};
</script>
<style>
.expand-enter-active,
.expand-leave-active {
  transition: height 400ms;
  transition-property: opacity, height;
  overflow: hidden;
}
.expand-enter,
.expand-leave-to {
  height: 0;
}
</style>
<style scoped>
* {
  will-change: height;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}
</style>
